.btn-default {
	display: inline-block;
	background: #B80A17;
	border-radius: 3px;
	font-weight: bold;
	font-size: 	1.25rem;
	color: #FFFFFF;
	padding: 14px 20px 16px 20px;
	text-decoration: none;
}
.btn-default:hover {
	color: #fff;
	background-color: #CF101E;
}
.btn-default:active {
	box-shadow: inset 0 1px 10px 0 rgba(0,0,0,0.37);
}

.btn-small {
	border: 1px solid #F0F0E6;
	@include border-radius(3px);
	background: #fff;
	text-align: center;
	color: #333333;
	font-size: 0.8125rem;
	font-weight: normal;
	padding: 7px 37px;
	cursor: pointer;
}
.btn-small--active {
	background: #F0F0E6;
	border-color: #E3E2D6;
}
.btn-small--modified {
	margin-left: 20px;
	vertical-align: middle;
}

.btn-border {
	border: 1px solid #B80A17;
	text-align: center; 
	font-size: 0.9375rem;
	padding: 6px 24px;
	text-decoration: none;
	@include border-radius(3px);
	display: inline-block;
	cursor: pointer;
}
.btn-border:hover {
	border-color: #90000A;
	color: #90000A;
}
.btn-border:active {
	background-color: #FFF6F6;
}
.btn-border--large {
	display: block;
	width: 100%;
}
.btn-border--grey {
	border-color: #DEDEDE;
	color: #333333;
}
.btn-border--grey:hover {
	background-color: #ECECEC;
	border-color: #333333;
	color: #333333;
}
.btn-border--grey:active {
	background-color: #fff;
	border-color: #A7A7A7;
	color: #A7A7A7;
}

.btn-border--red {
	background-color: #B80A17;
	color: #fff;
}